@model IEnumerable<Rotas.MVC.Models.Noticia>
@{
    ViewBag.Title = "TodasNoticias";
}

<h2>Todas as Noticias</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.Titulo, "MostraNoticia", "Home", new
            {
                @NoticiaID = item.NoticiaID,
                @Categoria = item.Categoria
            },null)
            <em>@Html.DisplayFor(x => item.Categoria)</em>
            <b>@Html.DisplayFor(x => item.Data)</b>
        </li>
    }
</ul>